@import 'common.scss';
@import 'header.scss';

/*=======================================
=            PAGE RESIDENTIEL           =
========================================*/

main{
	padding-bottom: 155px;
}

#section-cover{
	position: relative;
	padding-top: 170px;
	padding-bottom: 115px;
	background-color: #F3F5F5;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.container-text{
			width: 440px;
			h1{
				@include styleH1;
				span{
					color: $colorMain_4;
				}
			}
			p{
				@include styleParagraph3;
				color: $colorMain_6;
				margin-top: 12px;
			}
			.btn{
				margin-top: 55px;
				@include styleButton;
			}
		}
		.container-illu{
			position: relative;
			width: 474px;
			height: 382px;
			.phone{
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				z-index: 1;
				filter: drop-shadow(0px 11px 36px rgba(0,0,0,0.2));
			}
			.screen{
				position: absolute;
				height: 272px;
				right: 45px;
				bottom: 0px;
				z-index: 1;
				filter: drop-shadow(0px 11px 36px rgba(0,0,0,0.2));
			}
			.obj{
				position: absolute;
				width: 140px;
				top: 65px;
				right: 0px;
			}
			.dots{
				position: absolute;
				top: 35%;
				right: 55%;
			}
		}
	}
}

#section-features{
	padding-top: 100px;
	padding-bottom: 100px;
	.wrapper{
		@include styleGrid3;
		.container-text{
			text-align: center;
			width: 680px;
			margin: auto;
			h2{
				@include styleH1;
			}
			p{
				margin-top: 22px;
				@include styleParagraph2;
			}
		}
		.container-features{
			margin-top: 105px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;

			.container-el-illu{
				width: 550px;
				height: 475px;
				position: relative;
				.li-el-illu{
					height: 100%;
					width: 100%;
					position: relative;
					.el-illu{
						position: absolute;
						top: 0px;
						left: 0px;
						height: 100%;
						width: 100%;
						opacity: 0;
						transition: all 0.25s ease;
						text-align: center;
						&.active{
							opacity: 1;
						}
					}
					.el-illu-1{
						.img-1{
							position: absolute;
							width: 265px;
							left: 0px;
							bottom: 0px;
							box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
							z-index: 1;
						}
						.img-2{
							position: absolute;
							width: 265px;
							right: 0px;
							bottom: 0px;
							box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
							z-index: 1;
						}
						.obj-2{
							position: absolute;
							width: 85px;
							left: -30px;
							bottom: -30px;
							z-index: 1;
						}
						.obj-1{
							position: absolute;
							width: 70px;
							left: 50%;
							top: 50px;
							transform: translateX(-50%);
						}
						.obj-3{
							position: absolute;
							width: 136px;
							left: 50%;
							bottom: -30px;
							transform: translateX(-50%);
							z-index: 1;
							box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
						}
					}
					.el-illu-2{
						.img-1{
							position: absolute;
							width: 265px;
							left: 0px;
							bottom: 0px;
							box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
							z-index: 1;
						}
						.img-2{
							position: absolute;
							width: 265px;
							right: 0px;
							bottom: 0px;
							box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
							z-index: 1;
						}
						.obj-1{
							position: absolute;
							width: 112px;
							left: -35px;
							bottom: -40px;
						}
						.obj-2{
							position: absolute;
							width: 85px;
							right: -30px;
							bottom: -40px;
							z-index: 1;
						}
					}
					.el-illu-3{
						.img-1{
							position: absolute;
							width: 560px;
							left: 0px;
							top: 90px;
							filter: drop-shadow(0px 11px 36px rgba(0,0,0,0.2));
							z-index: 1;
						}
						.img-2{
							position: absolute;
							width: 142px;
							left: -48px;
							bottom: 0px;
							filter: drop-shadow(0px 11px 36px rgba(0,0,0,0.2));
							z-index: 1;
						}
						.obj-1{
							position: absolute;
							width: 55px;
							right: -10px;
							bottom: -10px;
							z-index: 1;
						}
						.obj-2{
							position: absolute;
							width: 138px;
							left: 50%;
							transform: translateX(-50%);
							bottom: 50px;
						}
					}
				}
			}
			.container-el-desc{
				width: 365px;
				position: relative;
				padding-left: 80px;
				.container-bar{
					position: absolute;
					left: 0px;
					top: 0px;
					width: 2px;
					height: 100%;
					background-color: #D4D4D8;
					.bar{
						position: absolute;
						left: 0px;
						top: 0px;
						height: calc(100% / 3);
						width: 100%;
						background-color: $colorMain_4;
						transition: all 0.25s ease;
						&.active-1{
							transform: translateY(0%);
						}
						&.active-2{
							transform: translateY(100%);
						}
						&.active-3{
							transform: translateY(200%);
						}
					}
				}
				.li-el-desc{
					position: relative;
					.el-desc{
						cursor: pointer;
						opacity: 0.6;
						transition: all 0.25s ease;
						margin-bottom: 68px;
						&:last-child{
							margin-bottom:0px;
						}
						&.active{
							opacity: 1;
						}
						h3{
							@include styleH3;
						}
						p{
							margin-top: 8px;
							@include styleParagraph4;
						}
					}
				}
			}
		}
	}
}

#section-tarifs{
	padding-top: 95px;
	position: relative;
	.background{
		position: absolute;
		left: 0px;
		top: 0px;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}))/2) - 9px);
		height: 100%;
		background-color: $colorMain_1;
	}
	.wrapper{
		padding-right: 50px;
		position: relative;
		z-index: 1;
		@include styleGrid1;
		.container-text{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;
			.container-desc{
				width: 500px;
				h2{
					@include styleH2;
					color:#FFF;
				}
				p{
					margin-top: 16px;
					@include styleParagraph2;
					color:#FFF;
				}
			}
			.btn{
				@include styleButton;
			}
		}
		.container-li{
			position: relative;
			width: 100%;
			margin-top: 95px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			.container-illu{
				width: calc(100% - 700px);
				img{
					width: 320px;
				}
			}
			.container-el{
				width: 700px;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				justify-content: space-between;
				.el{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					margin-bottom: 55px;

					.icn{
						width: 45px;
						margin-right: 25px;
						img{
							width: 100%;
						}
					}
					.text{
						width: 240px;
						h3{
							@include styleH3;
							color:#FFF;
						}
						p{
							margin-top: 10px;
							@include styleParagraph4;
							color:rgba(255, 255, 255, 0.8);
						}
					}
				}
			}
		}
	}
}

#section-sponsors{
	position: relative;
	margin-top: 90px;
	.background{
		position: absolute;
		right: 0px;
		top: 0px;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}))/2) - 9px);
		height: 100%;
		background-color: $colorMain_2;
	}
	.wrapper{
		padding: 90px 0px 90px 120px;
		@include styleGrid1;
		position: relative;
		.container-text{
			width: 500px;
			h2{
				@include styleH2;
				color:#FFF;
			}
			p{
				margin-top: 16px;
				@include styleParagraph2;
				color:#FFF;
			}
		}
		.container-col{
			margin-top: 80px;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			.col{
				width: 30%;
				.title{
					@include styleH3;
					color:$colorMain_5;
				}
				.content{
					margin-top: 35px;
					.container-logo{
						display: flex;
						flex-flow: row wrap;
						width: 100%;
						align-items: center;
						justify-content: space-between;
						.logo{
							width: 50%;
							margin-bottom: 45px;
							img{
								max-width: 85%;
								max-height: 35px;
							}
						}
						
					}
					.container-quote{
						q{
							@include styleParagraph3;
							color: #FFF;
						}
						.author{
							margin-top: 35px;
						}
						.name{
							@include styleParagraph4;
							color: #FFF;
						}
						.job{
							@include styleParagraph5;
							color: #FFF;
						}
					}
				}
			}
		}
	}
}

#section-experience{
	margin-top: 155px;
	.wrapper{
		position: relative;
		@include styleGrid4;
		text-align: center;
		.container-text{
			img{
				width: 40px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			h2{
				@include styleH2;
			}
		}
		.container-btn{
			margin-top: 45px;
			position: relative;
			z-index: 1;
			text-align: center;
			.btn{
				@include styleButton;
			}
		}
		.dots{
			position: absolute;
			bottom: -30px;
			left: 50%;
			width: 390px;
			transform: translateX(-50%);
		}
	}
}

/*===========================================
=            END PAGE RESIDENTIEL           =
============================================*/

@import 'footer.scss';