@import 'common.scss';
@import 'header.scss';

/*=======================================
=            PAGE TECHNICIENS           =
=======================================*/

main{
	padding-bottom: 155px;
}

#section-cover{
	position: relative;
	padding-top: 170px;
	padding-bottom: 115px;
	background-color: #F3F5F5;
	.wrapper{
		@include styleGrid1;
		padding-right: 100px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.container-text{
			width: 440px;
			h1{
				@include styleH1;
				span{
					color: $colorMain_4;
				}
			}
			p{
				@include styleParagraph3;
				color: $colorMain_6;
				margin-top: 12px;
			}
			.container-btn{
				margin-top: 55px;
				.btn{
					@include styleButton;
				}
			}
		}
		.container-illu{
			position: relative;
			width: 530px;
			height: 382px;
			
			.phone{
				position: absolute;
				height: 382px;
				top: 0px;
				left: 200px;
				filter: drop-shadow(0px 24px 48px rgba(0,0,0,0.2));
				z-index: 1;
			}
			.obj-1{
				position: absolute;
				right: -20px;
				top: -10px;
				width: 120px;
				filter: drop-shadow(0px 24px 48px rgba(0,0,0,0.2));
			}
			.obj-2{
				position: absolute;
				bottom: 5px;
				left: 0px;
				width: 165px;
				filter: drop-shadow(0px 24px 48px rgba(0,0,0,0.2));
				z-index: 1;
			}
			.dots{
				position: absolute;
				bottom: 0px;
				right: 30px;
				height: 70px;
			}
		}
	}
}

#section-features{
	position: relative;
	padding-top: 85px;
	.wrapper{
		border-bottom: 2px solid #F6F6F7;
		padding-bottom: 85px;
		@include styleGrid4;
		position: relative;
		.container-text{
			text-align: center;
			h2{
				@include styleH2;
			}
			p{
				@include styleParagraph2;
				max-width: 680px;
				margin:auto;
				margin-top: 22px;
				color: $colorMain_6;
			}
		}
		.container-el{
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			margin-top: 90px;
			.el{
				width: 28%;
				.icn{
					height: 24px;
					width: 36px;
					position: relative;
					img{
						position: absolute;
						left: 0px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				h3{
					margin-top: 21px;
					@include styleH3;
				}
				p{
					margin-top: 8px;
					@include styleParagraph4;
					color: $colorMain_6;
				}
			}
		}
		.container-action{
			margin-top: 90px;
			text-align: center;
			.btn{
				@include styleButton;
			}
		}
	}
}

#section-signup{
	position: relative;
	padding-top: 85px;
	padding-bottom: 85px;
	.wrapper{
		@include styleGrid1;
		position: relative;
		.container-text{
			text-align: center;
			h2{
				@include styleH2;
			}
			p{
				margin-top: 8px;
				@include styleParagraph2;
			}
		}
		.container-tsr{
			margin-top: 70px;
			.container-illu{
				width: 600px;
				height: 350px;
				position: relative;
				margin:auto;
				.el-illu{
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: all 0.25s ease;
					text-align: center;
					&.active{
						opacity: 1;
					}
				}
				.el-illu-1{
					.img-1{
						box-shadow: 0 55px 109px 0 rgba(0,0,0,0.2);
						width: 283px;
						position: absolute;
						left: 150px;
						top: 0px;
						z-index: 1;
					}
					.img-2{
						box-shadow: 0 55px 109px 0 rgba(0,0,0,0.2);
						position: absolute;
						width: 180px;
						left: 320px;
						bottom: -20px;
						z-index: 1;
					}
					.obj{
						position: absolute;
						width: 170px;
						left: 90px;
						bottom: 30px;
					}
				}
				.el-illu-2{
					.img{
						position: absolute;
						height: 380px;
						left: 150px;
						filter: drop-shadow(0px 24px 48px rgba(0,0,0,0.2));
						z-index: 1;
					}
					.obj{
						position: absolute;
						width: 170px;
						left: 90px;
						bottom: 30px;
					}
					.dots{
						position: absolute;
						width: 70px;
						top: 30px;
						right: 200px;
					}
					
				}
				.el-illu-3{
					.img-1{
						width: 600px;
						position: absolute;
						top: 0px;
						left: 0px;
						z-index: 1;
						box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
					}
					.dots{
						position: absolute;
						height: 70px;
						right: -20px;
						top: -10px;
					}
					.obj{
						position: absolute;
						width: 55px;
						bottom: -10px;
						left: -15px;
						z-index: 1;
					}
				}
				.el-illu-4{
					.img-1{
						width: 600px;
						position: absolute;
						top: 0px;
						left: 0px;
						z-index: 1;
						box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
					}
					.dots{
						position: absolute;
						height: 70px;
						right: -20px;
						top: -20px;
					}
					.obj{
						position: absolute;
						width: 100px;
						bottom: -10px;
						right: -50px;
						z-index: 1;
					}
				}
			}
			.container-nav{
				margin-top: 100px;
				.container-el{
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-items: center;
					.el{
						@include styleH3;
						color: $colorMain_5;
						opacity: 0.6;
						cursor: pointer;
						position: relative;
						&:hover{
							opacity: 1;
						}
						&:after{
							content: '';
							opacity: 0;
							transition: all 0.25s ease;
							position: absolute;
							top: calc(100% + 25px);
							width: 100%;
							left: 0px;
							height: 2px;
							background-color: $colorMain_4;
						}
						&.active{
							opacity: 1;
							&:after{
								opacity: 1;
							}
						}

					}
				}
				.container-bar{
					margin-top: 25px;
					height: 2px;
					width: 100%;
					background-color: #D4D4D8;

					.triangle-left, .triangle-right {
						display: none;
						position: absolute;
						width: 10px;
						height: 10px;
						margin: 10px;
						border-right: 1.5px solid #171A3B;
						border-bottom: 1.5px solid #171A3B;
					}

					.triangle-left {
						left: -12%;
						transform: translateY(-130%) rotate(135deg);
					}

					.triangle-right {
						right: -12%;
						transform: translateY(-130%) rotate(-45deg);
					}
				}
			}
			.container-desc{
				width: 800px;
				margin:auto;
				margin-top: 36px;
				min-height: 100px;
				p{
					display: none;
					@include styleParagraph4;
					text-align: center;
				}
			}
		}
	}
}

#section-ots{
	position: relative;
	padding-top: 110px;
	padding-bottom: 110px;
	.background{
		content:'';
		position: absolute;
		left: 0px;
		top: 0px;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}))/2) - 9px);
		height: 100%;
		background-color: $colorMain_1;
	}
	.wrapper{
		@include styleGrid4;
		position: relative;
		z-index: 1;
		.container-head{
			width: 490px;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			h2{
				@include styleH2;
				color: #FFF;
			}
			p{
				margin-top: 10px;
				@include styleParagraph2;
				color: rgba(255, 255, 255, 0.7);
			}
		}
		.container-el{
			margin-top: 120px;
			.el{
				width: 100%;
				margin-bottom: 240px;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: space-between;
				&:last-child{
					margin-bottom:0px;
				}
				.container-text{
					width: 375px;
					h3{
						@include styleH3;
						color: #FFF;
					}
					p{
						margin-top: 20px;
						@include styleParagraph4;
						color: rgba(255, 255, 255, 0.7);
					}
				}
				.container-illu{
					width: 420px;
					height: 290px;
					position: relative;
				}
				&:nth-child(odd){
					.container-text{
						order: 2;
					}
					.container-illu{
						order: 1;
					}
				}
				&:nth-child(even){
					.container-text{
						order: 1;
					}
					.container-illu{
						order: 2;
					}
				}
				&:nth-child(1){
					.container-illu{
						.img{
							width: 190px;
							position: absolute;
							left: 50%;
							top: 0px;
							transform: translateX(-50%);
							z-index: 1;
							box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
						}
						.obj-1{
							width: 124px;
							position: absolute;
							top: 0px;
							right: 30px;
							box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
						}
						.obj-2{
							width: 77px;
							position: absolute;
							left: 0px;
							bottom: 0px;
							box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
						}
						.dots{
							width: 70px;
							position: absolute;
							right: 0px;
							bottom: 0px;
						}
					}
				}
				&:nth-child(2){
					.container-illu{
						.img{
							width: 248px;
							position: absolute;
							left: 50%;
							top: 0px;
							transform: translateX(-50%);
							z-index: 1;
							box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
						}
						.obj-1{
							width: 335px;
							position: absolute;
							z-index: 2;
							top: 37%;
							left: 0%;
						}
						.obj-2{
							width: 155px;
							position: absolute;
							right: -10%;
							top: 20%;
							filter: drop-shadow(0px 24px 48px rgba(0,0,0,0.2));
						}
						.dots{
							width: 20px;
							position: absolute;
							left: 12%;
							top: 0px;
						}
						.obj{
							position: absolute;
							bottom: 5%;
							right: 25%;
							width: 112px;
						}
					}
				}
			}
		}
	}
}

#section-services{
	padding-top: 95px;
	position: relative;
	.wrapper{
		position: relative;
		z-index: 1;
		border-bottom: 1px solid #D4D4D8;
		padding-bottom: 50px;
		@include styleGrid1;
		.container-text{
			width: 550px;
			margin:auto;
			text-align: center;
			h2{
				@include styleH2;
			}
			p{
				margin-top: 16px;
				@include styleParagraph2;
			}
		}

		.container-li{
			position: relative;
			width: 100%;
			margin-top: 95px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			.container-illu{
				width: calc(100% - 700px);
				img{
					width: 320px;
				}
			}
			.container-el{
				width: 800px;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				justify-content: space-between;
				.el{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					margin-bottom: 55px;

					.icn{
						width: 45px;
						margin-right: 25px;
						img{
							width: 100%;
						}
					}
					.text{
						width: 280px;
						h3{
							@include styleH3;
						}
						p{
							margin-top: 10px;
							@include styleParagraph4;
						}
					}
				}
			}
		}
	}
}

#section-experience{
	margin-top: 155px;
	.wrapper{
		position: relative;
		@include styleGrid4;
		text-align: center;
		.container-text{
			img{
				width: 40px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			h2{
				@include styleH2;
			}
		}
		.container-btn{
			margin-top: 45px;
			position: relative;
			z-index: 1;
			text-align: center;
			.btn{
				@include styleButton;
				a {
					text-decoration: none;
				}
			}
		}
		.dots{
			position: absolute;
			bottom: -30px;
			left: 50%;
			width: 390px;
			transform: translateX(-50%);
		}
	}
}

@media screen and (min-width: 1000px) and (max-width: $breakPoint_tablet){
	#section-cover .wrapper .container-text {
		width: 380px;
	}
	#section-cover .wrapper .container-illu {
		width: 500px;
	}

	#section-features:after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 80%;
		border-bottom: 2px solid #F6F6F7;
	}
	#section-features .wrapper {
		border: none;
	}

	#section-ots .background {
		width: 100%;
	}
	#section-ots .wrapper .container-el .el {
		justify-content: space-around;
	}

	#section-services:after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 80%;
		border-bottom: 1px solid #D4D4D8;
	}
	#section-services .wrapper {
		border: none;
	}
	#section-services .wrapper .container-li {
		justify-content: center;
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: 1000px){

	#section-cover .wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#section-features:after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 80%;
		border-bottom: 2px solid #F6F6F7;
	}
	#section-features .wrapper {
		border: none;
	}
	#section-features .wrapper .container-el .el {
		width: 30%;
	}

	#section-signup .wrapper .container-tsr .container-nav .container-el .el {
		font-size: 18px;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el:after {
		top: calc(100% + 15px);
	}
	#section-signup .wrapper .container-tsr .container-nav .container-bar {
		margin-top: 15px;
	}
	#section-signup .wrapper .container-tsr .container-desc {
		width: 100%;
	}

	#section-ots .wrapper .container-el .el {
		justify-content: space-around;
	}
	#section-ots .wrapper .container-el .el .container-illu {
		width: 300px;
	}
	#section-ots .wrapper .container-el .el .container-text {
		width: 300px;
	}
	#section-ots .wrapper .container-el .el:first-child .container-illu .dots {
		right: 20px;
	}

	#section-services:after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 80%;
		border-bottom: 1px solid #D4D4D8;
	}
	#section-services .wrapper {
		border: none;
	}
	#section-services .wrapper .container-li {
		margin-top: 50px;
		justify-content: center;
	}
	#section-services .wrapper .container-li .container-el {
		width: 100%;
		flex-wrap: nowrap;
	}
	#section-services .wrapper .container-li .container-el .el {
		width: 30%;
	}

	#section-experience {
		margin-top: 100px;
	}
}

@media screen and (max-width: $breakPoint_mobile){

	#section-cover {
		padding-bottom: 80px;
	}
	#section-cover .wrapper .container-illu {
		width: 100%;
		height: 320px;
	}
	#section-cover .wrapper .container-illu .phone {
		height: 265px;
	    top: auto;
	    bottom: 5px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	#section-cover .wrapper .container-illu .obj-1 {
		right: calc(50% - 175px);
		top: 50px;
		width: 80px;
	}
	#section-cover .wrapper .container-illu .obj-2 {
		bottom: 5px;
		left: calc(50% - 200px);
		width: 115px;
	}
	#section-cover .wrapper .container-illu .dots {
		left: 50%;
	    right: auto;
	    transform: translateX(-50%);
	    height: 50px;
	}

	#section-features .wrapper {
		border: none;
		padding-bottom: 50px;
	}
	#section-features .wrapper .container-el {
		margin-top: 50px;
		flex-direction: column;
	}
	#section-features .wrapper .container-el .el {
		width: 100%;
		margin-bottom: 40px;
	}
	#section-features .wrapper .container-action {
		margin-top: 0;
	}
	#section-features .wrapper .container-action .btn {
		width: 100%;
	}

	#section-signup {
		padding-top: 50px;
	}
	#section-signup .wrapper .container-tsr .container-desc {
		width: 100%;
	}
	#section-signup .wrapper .container-tsr .container-desc p {
		text-align: left;
		color: #5C5F88;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-bar {
		position: relative;
		width: 80%;
		margin: 40px auto auto auto;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-bar .triangle-left, 
	#section-signup .wrapper .container-tsr .container-nav .container-bar .triangle-right {
		display: block;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el {
		position: relative;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el {
		position: initial;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el:after {
		z-index: 1;
		top: calc(100% + 40px);
	    width: 20%;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el:nth-child(1):after {
	    left: 10%;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el:nth-child(2):after {
	    left: 30%;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el:nth-child(3):after {
	    left: 50%;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el:nth-child(4):after {
	    left: 70%;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el {
		display: none;
	}
	#section-signup .wrapper .container-tsr .container-nav .container-el .el.active {
		display: block;
	}
	#section-signup .wrapper .container-tsr .container-illu {
		width: 100%;
		min-height: 350px;
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-1 .img-1 {
		left: 50%;
		transform: translateX(-50%);
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-1 .img-2 {
		left: 75%;
		transform: translateX(-50%);
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-1 .obj {
		left: 25%;
		transform: translateX(-50%);
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-2 .img {
		left: 50%;
		transform: translateX(-50%);
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-2 .obj {
		left: 0;
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-2 .dots {
		right: 0;
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-3 .img-1 {
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-3 .dots {
		top: 10%;
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-4 .img-1 {
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	#section-signup .wrapper .container-tsr .container-illu .el-illu-4 .dots {
		top: 10%;
	}

	#section-ots {
		padding: 100px 0;
	}
	#section-ots .background {
		width: 100%;
	}
	#section-ots .wrapper .container-head {
		width: 100%;
		text-align: left;
	}
	#section-ots .wrapper .container-el {
		margin-top: 100px;
	}
	#section-ots .wrapper .container-el .el {
		margin-bottom: 90px;
	}
	#section-ots .wrapper .container-el .el .container-text {
		order: 2 !important;
		width: 100% !important;
	}
	#section-ots .wrapper .container-el .el .container-illu {
		order: 1 !important;
		width: 100% !important;
	}
	#section-ots .wrapper .container-el .el:first-child .container-illu .img {
		width: 140px;
		top: auto;
		bottom: 40px;
	}
	#section-ots .wrapper .container-el .el:first-child .container-illu .obj-2 {
		width: 70px;
		bottom: 40px;
	}
	#section-ots .wrapper .container-el .el:first-child .container-illu .obj-1 {
		top: -36px;
	}
	#section-ots .wrapper .container-el .el:first-child .container-illu .dots {
		right: 10px;
		bottom: 40px;
	}
	#section-ots .wrapper .container-el .el:nth-child(2) .container-illu .dots {
		width: 15px;
		left: 0;
	}
	#section-ots .wrapper .container-el .el:nth-child(2) .container-illu .obj {
		bottom: 10%;
	    right: auto;
	    left: 5%;
	}
	#section-ots .wrapper .container-el .el:nth-child(2) .container-illu .obj-2 {
		right: 0%;
		top: 10%;
	}

	#section-services:after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 80%;
		border-bottom: 1px solid #D4D4D8;
	}
	#section-services .wrapper {
		border: none;
	}
	#section-services .wrapper .container-text {
		width: 100%;
	}
	#section-services .wrapper .container-li {
		margin-top: 50px;
	}
	#section-services .wrapper .container-li .container_illu {
		width: 100%;
		img {
			width: 100%;
		}
	}
	#section-services .wrapper .container-li .container-el {
		margin-top: 40px;
	}
	#section-services .wrapper .container-li .container-el .el {
		flex-wrap: nowrap;
	}
	#section-services .wrapper .container-li .container-el .el .text {
		width: 100%;
	}

	#section-experience {
		margin-top: 100px;
		padding-bottom: 100px;
	}
}

/*===========================================
=            END PAGE TECHNICIENS           =
============================================*/

@import 'footer.scss';